* {
  margin: 0;
  box-sizing: border-box;
  gap: 2rem;
}
.formContainer {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
}
.formContainer > h1 {
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
}

.formContainer > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.formContainer > form > p {
  max-width: 18rem;
  text-align: center;
  font-size: 1.5rem;
  color: gray;
}
.formContainer > form > label > input {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.7rem;
  background-color: #f8fafc;
  border-color: #bdcad6;
}
.formContainer > form > footer {
  font-size: 1.4rem;
  text-decoration: none;
}
.formContainer > form > footer > a {
  text-decoration: none;
}

.signup {
  background-color: rgb(249, 249, 249);
  display: flex;
  justify-content: center;
}

.imagen1 {
  display: none;
}

.imagen2 {
  width: 150px;
  height: 100px;
}

.formContainer > form > button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 70px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Estilos para el botón al pasar el cursor por encima */
.formContainer > form button:hover {
  background-color: #0056b3; /* Cambiar el color de fondo al pasar el cursor */
}

@media (min-width: 768px) {
  .imagen1 {
    display: flex;
    align-self: center;
    height: 70vh;
    min-width: 450px;
    display: block;
  }
}
