.image-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.image-select .preview {
  height: 150px;
  width: 150px;
  background-position: center;
  background-size: cover;
  margin-left: 30px;
  margin-bottom: 30px;
}
.image-select input {
  display: none;
}
